body{background-color: #eae3e2;
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	position: static;
	width: 960px;

}
.menu{
	display: block;
	position: fixed;
	top:0;
	right: 15%;
	background-color: #75719C;
	text-align: center;
	width: 45vh;

}
ul{padding:0}
}
.parrafo,.parrafo1{
	position: relative;
	margin-top: 14px;

}
.parrafo1{
	text-align: right;
}
.tabla{display: table;
	box-sizing: border-box;

}
.fila{
	float: left;
	width: 22%;
	display: table-cell;
	padding: 10px;
}