body{background-color: #eae3e2;
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	position: static;
	width: 960px;

}
.menu{
	display: block;
	position: fixed;
	top:0;
	right: 15%;
	background-color: #75719C;
	text-align: center;
	width: 45vh;

}
ul{padding:0

}

.parrafo{
	position: relative;
	
	margin-top: 15px;

}
.parrafo1{
	text-align: right;
}
.tabla{display: table;
	box-sizing: border-box;

}
.fila{
	float: left;
	width: 22%;
	display: table-cell;
	padding: 10px;
}

@media only screen and (max-width:768px){

body{
	background-color: #E5DCDB;
	margin-right: auto;
	margin-left: auto;
	margin-top: 80px;
	position: relative;
	width: 100%}

.parrafo,.parrafo1{
	position: relative;
	width: 100%
	margin-top: 25px;
}

	.menu{
	display: block;
	position: fixed;
	right: 15%;
	top:0;
	background-color: #605A8A;
	text-align: center;
	width: 70vw;

}
ul{padding:0;
}
.fila{
	float: left;
	width: 14%;
	display: table-cell;
	padding-right: 28px;
}